<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${review.title}">Review Title</title>
</head>
<body>
	<header>
		<h1 th:text="${review.title}">Review Title</h1>
		<ul>
			<li><a href="/reviews">Reviews</a></li>
		</ul>
	</header>
	<main>
		<figure>
			<img th:src="${review.imageUrl}" style="width: 500px; height:auto" th:alt="${review.imageDesc}"> 
			<figcaption th:text="${review.imageCaption}"></figcaption>
			<!-- Ask about alts/captions for situations like this. Just include it in the Review class? -->
		</figure>
		<p th:text="${review.content}">[Text]</p>
		<p>Category: <span th:text="${review.category}">category</span></p>
		<p>Tags: <span th:text="${review.tagString}">tags</span></p>
	</main>
</body>
</html>